/* Popular.css */

.popular {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #fff; /* Light background color for section */
    height: auto; /* Remove fixed height for all screen sizes */
  }
  
  .popular h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #761700; /* Dark text color */
    text-align: center;
    margin-bottom: 10px;
  }
  
  .popular hr {
    border: 0;
    border-top: 2px solid #761700; /* Highlight color for the separator */
    width: 50%; /* Adjust the width as needed */
    margin: 0 auto 20px auto;
  }
  
  .popular-item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 0px; /* Space between items */
  }
  

  @media (max-width: 500px) {
    .popular-item {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 0px; /* Space between items */
      align-items: center;
    }
  }

  @media (min-width: 768px) {
    .popular-item {
      grid-template-columns: repeat(3, 1fr); /* 3 items per row for medium devices (tablets) */
    }
  }
  
  @media (min-width: 1024px) {
    .popular-item {
      grid-template-columns: repeat(6, 1fr); /* 6 items per row for larger screens (desktops) */
      padding: 0px 450px;
    }
  }


  