.search-bar {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.search-bar input {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  border: 1px solid #761700; 
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease; 
}

.search-bar input:focus {
  border-color: #761700; 
  outline-color: #761700;
}

/* Change color when typing (input has value) */
.search-bar input:not(:placeholder-shown) {
  border-color: #761700; /* Color while typing */
}
  @media (max-width: 768px) {
    .search-bar input{
      max-width: 300px;
    }

    .search-bar input:not(:placeholder-shown) {
      border-color: #761700; /* Color while typing */
    }
  }